/node_modules
/public/storage
/public/hot
/storage/*.key
/vendor
/.idea
Homestead.json
Homestead.yaml
.env
/public/images/invoices
database.sqlite
/.vagrant
/.vagrant/machines/goldfund/virtualbox/action_provision
/.vagrant/machines/goldfund/virtualbox/action_set_name
/.vagrant/machines/goldfund/virtualbox/id
/.vagrant/machines/goldfund/virtualbox/index_uuid
/.vagrant/machines/goldfund/virtualbox/private_key