<div class="row" loading-if="vm.loading">
    <div class="col-md-12">
        <div class="portlet light">
            <div class="portlet-title tabbable-line">
                <div class="caption caption-md">
                    <i class="icon-globe theme-font hide"></i>
                    <span class="caption-subject font-blue-madison bold uppercase">Contact</span>
                </div>
            </div>
            <div class="portlet-body">
                <div class="row">
                    <div class="col-sm-12">
                        <div class="note note-success">
                            <p>Have any question? Drop us a message. We will get back to you within 24 hours.</p>
                        </div>
                    </div>
                </div>
                
                <div class="row">
                    <form class="form-horizontal" role="form" method="POST" ng-submit="vm.onFormSubmit()">
                        <div class="form-group">
                            <label for="name" class="col-md-2 control-label">Name</label>
                            <div class="col-md-10">
                                <input type="text" id="name" class="form-control" autofocus ng-model="vm.model.name">
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="email" class="col-md-2 control-label">Email</label>
                            <div class="col-md-10">
                                <input type="email" id="email" class="form-control" ng-model="vm.model.email">
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="message" class="col-md-2 control-label">Message</label>
                            <div class="col-md-10">
                                <textarea class="form-control" rows="3" id="message" ng-model="vm.model.message"></textarea>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="attachment" class="col-md-2 control-label">Attachment</label>
                            <div class="col-md-10">
                                <input type="file" class="form-control" id="attachment"></input>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-md-2 col-md-offset-6 btn-submit-wrap">
                                <button type="submit" class="btn blue">Send Message</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>