<style type="text/css">
.color-red{
    color: #e73d4a !important;
}
</style>
<!-- BEGIN DASHBOARD STATS -->
<div class="row box-dash">
    <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
        <div class="widget-thumb widget-bg-color-white text-uppercase margin-bottom-20 bordered">
            <h4 class="widget-thumb-heading">Days Left</h4>
            <div class="widget-thumb-wrap">  
                <i class="widget-thumb-icon fa fa-sun-o"></i>               
                <div class="widget-thumb-body">                    
                    <span class="widget-thumb-body-stat" 
                        ng-class="{'color-red' : (vm.model.day_left <= 5 && vm.model.day_left !== 0)}">
                        {{ vm.model.day_left }}
                    </span>
                </div>
            </div>
        </div>
    </div>
    <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
        <div class="widget-thumb widget-bg-color-white text-uppercase margin-bottom-20 bordered">
            <h4 class="widget-thumb-heading">Active Deposit</h4>
            <div class="widget-thumb-wrap">  
                <i class="widget-thumb-icon fa fa-dollar"></i>               
                <div class="widget-thumb-body">                    
                    <span class="widget-thumb-body-stat">{{ vm.model.active_deposit }}</span>
                </div>
            </div>
        </div>
    </div>
    <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
        <div class="widget-thumb widget-bg-color-white text-uppercase margin-bottom-20 bordered">
            <h4 class="widget-thumb-heading">Daily Earning</h4>
            <div class="widget-thumb-wrap">                
                <i class="widget-thumb-icon"><img src="/images/icons/dollar_tick.png"></i> 
                <div class="widget-thumb-body">                    
                    <span class="widget-thumb-body-stat">{{ vm.model.earning | currency }}</span>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="row box-dash">
    <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
        <div class="widget-thumb widget-bg-color-white text-uppercase margin-bottom-20 bordered">
            <h4 class="widget-thumb-heading">Sponsor</h4>
            <div class="widget-thumb-wrap">                
                <i class="widget-thumb-icon fa fa-user"></i> 
                <div class="widget-thumb-body">                    
                    <span class="widget-thumb-body-stat">{{ vm.model.sponsor | currency }}</span>
                </div>
            </div>
        </div>
    </div>
    <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
        <div class="widget-thumb widget-bg-color-white text-uppercase margin-bottom-20 bordered">
            <h4 class="widget-thumb-heading">Level</h4>
            <div class="widget-thumb-wrap">  
                <i class="widget-thumb-icon fa fa-line-chart"></i>                
                <div class="widget-thumb-body">                    
                    <span class="widget-thumb-body-stat">{{ vm.model.level | currency }}</span>
                </div>
            </div>
        </div>
    </div>
    <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
        <div class="widget-thumb widget-bg-color-white text-uppercase margin-bottom-20 bordered">
            <h4 class="widget-thumb-heading">Binary</h4>
            <div class="widget-thumb-wrap">  
                <i class="widget-thumb-icon fa fa-sitemap"></i>                
                <div class="widget-thumb-body">                    
                    <span class="widget-thumb-body-stat">{{ vm.model.binary | currency }}</span>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="row box-dash">
    <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
        <div class="widget-thumb widget-bg-color-white text-uppercase margin-bottom-20 bordered">
            <h4 class="widget-thumb-heading">Available Balance</h4>
            <div class="widget-thumb-wrap">  
                <i class="widget-thumb-icon"><img src="/images/icons/wallet.png"></i>              
                <div class="widget-thumb-body">                    
                    <span class="widget-thumb-body-stat">{{ (vm.model.sponsor + vm.model.binary + vm.model.earning + vm.model.level) - vm.model.withdrawal | currency }}</span>
                </div>
            </div>
        </div>
    </div>
    <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
        <div class="widget-thumb widget-bg-color-white text-uppercase margin-bottom-20 bordered">
            <h4 class="widget-thumb-heading">Withdrawal</h4>
            <div class="widget-thumb-wrap">   
                <i class="widget-thumb-icon fa fa-credit-card"></i>             
                <div class="widget-thumb-body">                    
                    <span class="widget-thumb-body-stat">{{ vm.model.withdrawal | currency }}</span>
                </div>
            </div>
        </div>
    </div> 
    <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
        <div class="widget-thumb widget-bg-color-white text-uppercase margin-bottom-20 bordered">
            <h4 class="widget-thumb-heading">Total Downlines</h4>
            <div class="widget-thumb-wrap">   
                <i class="widget-thumb-icon fa fa-group"></i>             
                <div class="widget-thumb-body">                    
                    <span class="widget-thumb-body-stat">{{ vm.model.downline }}</span>
                </div>
            </div>
        </div>
    </div>  
</div>

<div class="row">    
    <div class="col-md-12">
        <div class="portlet light bordered">
            <div class="portlet-title">
                <div class="caption">
                    <i class="icon-cursor font-dark hide"></i>
                    <span class="caption-subject font-dark bold uppercase">
                        Referral Link
                    </span>
                </div>
            </div>
            <div class="portlet-body">
                <div class="row">
                    <div class="col-md-12">
                        <a ng-href="{{vm.link}}" target="_blank">{{vm.link}}</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- <div class="row">    
    <div class="col-md-12">
        <div class="portlet light bordered">
            <div class="portlet-title">
                <div class="caption">
                    <i class="icon-cursor font-dark hide"></i>
                    <span class="caption-subject font-dark bold uppercase">
                        History
                    </span>
                </div>
            </div>
            <div class="portlet-body">
                <div class="row">
                    <div class="col-md-12">
                        <ul>
                            <li data-ng-repeat="(key, tran) in vm.transactions">
                                <span>{{ tran }}</span>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div> -->