<form name="depositForm" novalidate role="form" class="form-horizontal">
    <div class="row">
        <div class="col-md-12" ng-if="vm.deposited == 0">
            <div class="portlet light bordered">
                <div class="portlet-title">
                    <div class="caption font-yellow">
                        <span class="caption-subject bold uppercase">
                            Select your investment plan
                        </span>
                    </div>
                </div>
                <div class="portlet-body">
                    <section id="bs-pricing-five" class="bs-pricing-five p-top-100 bg-white">
                        <div class="row">
                            <div class="col-md-12">
                                <div class="bs-five-area">
                                    <div class="col-md-4 no-padding" data-ng-repeat="(key, plan) in vm.plans">
                                        <div class="bs-five" data-ng-class="{ 'active': vm.model.plan_id == plan.id }">
                                            <h3 class="text-uppercase">{{ plan.name }}</h3>
                                            <h1 class="bs-caption">{{ plan.daily * 100 }}<sup>%</sup></h1>
                                            <p>Daily for {{ plan.duration }} days</p>
                                            <ul>
                                                <li><b>Deposit: {{ plan.min_deposit }}$ - {{ plan.max_deposit }}$</b></li>
                                                <li>Total Return: {{ plan.daily * 100 * plan.duration }}%</li>
                                                <li>Withdraw Total Min $10</li>
                                            </ul>
                                            <a ng-click="vm.model.plan_id = plan.id; vm.model.amount = plan.min_deposit; vm.model.min_deposit = plan.min_deposit; vm.model.max_deposit = plan.max_deposit"
                                               class="btn btn-success btn-round m-top-40">Deposit</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </section>
                </div>
            </div>
            <div class="portlet light bordered" ng-show="vm.model.plan_id">
                <div class="portlet-title">
                    <div class="caption font-yellow">
                        <span class="caption-subject bold uppercase">
                            Amount to deposit
                        </span>
                    </div>
                </div>
                <div class="portlet-body">
                    <div class="alert alert-danger" ng-if="vm.error">
                        {{ vm.error }}
                    </div>
                    <div class="form-group" ng-class="{'has-error' : vm.inValid() }">
                        <label class="col-md-2 control-label"><span class="required">* </span>Amount</label>
                        <div class="col-md-4">    
                            <div class="input-icon right">  
                                <i class="fa fa-check tooltips" style="color: #36c6d3;" ng-hide="vm.inValid()"></i>                      
                                <div class="input-group">                                
                                    <span class="input-group-addon"><i class="fa fa-dollar"></i></span>
                                    <input type="text" ng-model="vm.model.amount" class="form-control" only-number/>
                                </div>
                                <span id="input_group-error" class="help-block help-block-error" ng-show="vm.inValid()">Range between {{ vm.model.min_deposit }} and {{ vm.model.max_deposit }}</span>
                            </div>
                        </div>
                    </div>
                    <div class="form-group" ng-class="{'has-error' : vm.validation.trans_password !== '' }">
                        <label class="control-label col-md-2"><span class="required"> * </span>Transaction Password</label>
                        <div class="col-md-4">
                            <div class="input-group">
                                <span class="input-group-addon"><i class="fa fa-key"></i></span>
                                <input type="password" class="form-control" ng-model="vm.model.trans_password"> 
                            </div>
                            <span id="input_group-error" class="help-block help-block-error" ng-show="vm.validation.trans_password != ''">{{ vm.validation.trans_password }}</span>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-md-2">
                        </label>
                        <div class="col-md-4">
                            <button class="btn blue" ng-click="vm.save()" ng-disabled="vm.inValid() || vm.model.trans_password == '' || vm.loading">
                                <i class="fa fa-spinner fa-spin" ng-show="vm.loading"></i>
                                Deposit
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-12" ng-if="vm.deposited == 2">
            <div class="portlet light bordered">
                <div class="portlet-title">
                    <div class="caption font-yellow">
                        <span class="caption-subject bold uppercase">
                            Make Deposit
                        </span>
                    </div>
                </div>
                <div class="portlet-body">  
                    <div class="note note-success">
                        <p>You have deposited. Please send money via address below.</p>
                    </div>              
                    <div ng-bind-html="vm.paymentbox"></div> 
                </div>
            </div>            
        </div>
        <div class="col-md-12" ng-if="vm.deposited == 1">
            <div class="portlet light bordered">
                <div class="portlet-title">
                    <div class="caption font-yellow">
                        <span class="caption-subject bold uppercase">
                            Make Deposit
                        </span>
                    </div>
                </div>
                <div class="portlet-body">                
                    <div class="note note-warning">
                        <p>Your already deposited. The next deposit is after the old one is expire.</p>
                    </div>
                </div>
            </div>            
        </div>
    </div>
</form>




<div id="deposit_modal" class="modal fade in" tabindex="-1" role="dialog" ng-if="vm.allow_deposited">
    <div class="modal-dialog">
        <div class="modal-content">
            <form class="form-horizontal" role="form">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true"></button>
                    <h4 class="modal-title">Deposit Fund</h4>
                </div>
                <div class="modal-body"> 
                    <div ng-bind-html="vm.paymentbox"></div>    
                </div>
            </form>
        </div>
    </div>
</div>