<div class="row" loading-if="vm.loading">
    <div class="col-md-12">
        <div class="portlet light">
            <div class="portlet-title tabbable-line">
                <div class="caption caption-md">
                    <i class="icon-globe theme-font hide"></i>
                    <span class="caption-subject font-blue-madison bold uppercase">Geneology</span>
                </div>
            </div>
            <div class="portlet-body">
                <div class="row">
                    <div class="col-sm-12">
                        <canvas draw style="width: 100%"></canvas>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>