<div class="row" loading-if="vm.loading">
    <div class="col-md-12">
        <div class="portlet light">
            <div class="portlet-title tabbable-line">
                <div class="caption caption-md">
                    <i class="icon-globe theme-font hide"></i>
                    <span class="caption-subject font-yellow bold uppercase">Geneology</span>
                </div>
            </div>
            <div class="portlet-body">
                <div class="row graph-geneology">
                    <div class="col-md-3 block">
                        <img class="p-note-img" src="/bn/img/p.png"/>
                        <span class="caption">InActive</span>
                    </div>
                    <div class="col-md-3 block">
                        <img class="p-note-img" src="/bn/img/p1.png"/>
                        <span class="caption">Basic</span>
                    </div>
                    <div class="col-md-3 block">
                        <img class="p-note-img" src="/bn/img/p2.png"/>
                        <span class="caption">Gold</span>
                    </div>
                    <div class="col-md-3 block">
                        <img class="p-note-img" src="/bn/img/p3.png"/>
                        <span class="caption">Platinum</span>
                    </div>
                </div>

                <div class="row search-geneology">
                    <div class="col-sm-12">
                        <div class="form-group">
                            <input type="text" 
                                class="form-control" 
                                placeholder="Search" 
                                ng-model="vm.downline_name">
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-sm-12">
                        <canvas draw style="width: 100%"></canvas>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div id="register_modal" class="modal fade in" tabindex="-1" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <form class="form-horizontal" role="form">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true"></button>
                    <h4 class="modal-title">Register New Downline</h4>
                </div>
                <div class="modal-body">
                    <div class="form-group" ng-class="{ 'has-error' : vm.errors.first_name.length > 0 }">
                        <label for="first_name" class="col-md-4 control-label">First name</label>
                        <div class="col-md-6">
                            <div class="input-group">
                                <span class="input-group-btn">
                                    <button class="btn btn-default" type="button">
                                        <i class="fa fa-user"></i>
                                    </button>
                                </span>
                                <input id="first_name" type="text" class="form-control" name="first_name" ng-model="vm.model.first_name">
                            </div>
                            <span class="help-block" ng-if="vm.errors.first_name.length > 0">
                                {{ vm.errors.first_name[0] }}
                            </span>
                        </div>
                    </div>
                    <div class="form-group" ng-class="{ 'has-error' : vm.errors.last_name.length > 0 }">
                        <label for="last_name" class="col-md-4 control-label">Last name</label>

                        <div class="col-md-6">
                            <div class="input-group">
                                <span class="input-group-btn">
                                    <button class="btn btn-default" type="button">
                                        <i class="fa fa-user"></i>
                                    </button>
                                </span>
                                <input id="last_name" type="text" class="form-control" name="last_name" ng-model="vm.model.last_name">
                            </div>
                            <span class="help-block" ng-if="vm.errors.last_name.length > 0">
                                {{ vm.errors.last_name[0] }}
                            </span>
                        </div>
                    </div>
                    <div class="form-group" ng-class="{ 'has-error' : vm.errors.gender.length > 0 }">
                        <label for="gender" class="col-md-4 control-label">Gender</label>
                        <div class="col-md-6">
                            <div class="input-group">
                                <span class="input-group-btn">
                                    <button class="btn btn-default" type="button">
                                        <i class="fa fa-mars-stroke"></i>
                                    </button>
                                </span>
                                <select id="gender" class="form-control" name="gender" ng-model="vm.model.gender">
                                    <option value="">--Select--</option>
                                    <option value="M">Male</option>
                                    <option value="F">Female</option>
                                </select>
                            </div>
                            <span class="help-block" ng-if="vm.errors.gender.length > 0">
                                {{ vm.errors.gender[0] }}
                            </span>
                        </div>
                    </div>
                    <div class="form-group" ng-class="{ 'has-error' : vm.errors.country_id.length > 0 }">
                        <label for="country_id" class="col-md-4 control-label">
                            Country
                        </label>
                        <div class="col-md-6">
                            <div class="input-group">
                                <span class="input-group-btn">
                                    <button class="btn btn-default" type="button">
                                        <i class="fa fa-globe"></i>
                                    </button>
                                </span>
                                <select name="country_id" class="form-control" id="country_id" ng-model="vm.model.country_id">
                                    <option value="">--Select--</option>  
                                    <option value="{{ country.id }}" ng-repeat="country in vm.countries">{{ country.name }}</option>                                  
                                </select>
                            </div>
                            <span class="help-block" ng-if="vm.errors.country_id.length > 0">
                                {{ vm.errors.country_id[0] }}
                            </span>
                        </div>
                    </div>
                    <div class="form-group" ng-class="{ 'has-error' : vm.errors.date_of_birth.length > 0 }">
                        <label for="date_of_birth" class="col-md-4 control-label">Date of birth</label>
                        <div class="col-md-6">
                            <div class="input-group">
                                 <span class="input-group-btn">
                                    <button class="btn btn-default" type="button">
                                        <i class="fa fa-calendar"></i>
                                    </button>
                                </span>
                                <input type="text" class="form-control date" placeholder="yyyy-mm-dd" value="" name="date_of_birth" ng-model="vm.model.date_of_birth">
                            </div>
                            <span class="help-block" ng-if="vm.errors.date_of_birth.length > 0">
                                {{ vm.errors.date_of_birth[0] }}
                            </span>
                        </div>
                    </div>
                    <div class="form-group" ng-class="{ 'has-error' : vm.errors.username.length > 0 }">
                        <label for="username" class="col-md-4 control-label">Username</label>
                        <div class="col-md-6">
                            <div class="input-group">
                                <span class="input-group-btn">
                                    <button class="btn btn-default" type="button">
                                        <i class="fa fa-user"></i>
                                    </button>
                                </span>
                                <input id="username" type="text" class="form-control" name="username" ng-model="vm.model.username">

                            </div>
                            <span class="help-block" ng-if="vm.errors.username.length > 0">
                                {{ vm.errors.username[0] }}
                            </span>
                        </div>
                    </div>
                    <div class="form-group" ng-class="{ 'has-error' : vm.errors.email.length > 0 }">
                        <label for="email" class="col-md-4 control-label">E-Mail Address</label>
                        <div class="col-md-6">
                            <div class="input-group">
                                <span class="input-group-btn">
                                    <button class="btn btn-default" type="button">
                                        <i class="fa fa-envelope"></i>
                                    </button>
                                </span>
                                <input id="email" type="email" class="form-control" name="email" ng-model="vm.model.email">
                            </div>
                            <span class="help-block" ng-if="vm.errors.email.length > 0">
                                {{ vm.errors.email[0] }}
                            </span>
                        </div>
                    </div>
                    <div class="form-group" ng-class="{ 'has-error' : vm.errors.password.length > 0 }">
                        <label for="password" class="col-md-4 control-label">Password</label>
                        <div class="col-md-6">
                            <div class="input-group">
                                <span class="input-group-btn">
                                    <button class="btn btn-default" type="button">
                                        <i class="fa fa-key"></i>
                                    </button>
                                </span>
                                <input id="password" type="password" class="form-control" name="password" ng-model="vm.model.password">
                            </div>
                            <span class="help-block" ng-if="vm.errors.password.length > 0">
                                {{ vm.errors.password[0] }}
                            </span>
                        </div>
                    </div>
                    <div class="form-group" ng-class="{ 'has-error' : vm.errors.password_confirmation.length > 0 }">
                        <label for="password-confirm" class="col-md-4 control-label">Confirm Password</label>
                        <div class="col-md-6">
                            <div class="input-group">
                                <span class="input-group-btn">
                                    <button class="btn btn-default" type="button">
                                        <i class="fa fa-key"></i>
                                    </button>
                                </span>
                                <input id="password-confirm" type="password" class="form-control" name="password_confirmation" ng-model="vm.model.password_confirmation">
                            </div>
                            <span class="help-block" ng-if="vm.errors.password_confirmation.length > 0">
                                {{ vm.errors.password_confirmation[0] }}
                            </span>
                        </div>
                    </div>
                    <div class="form-group" ng-class="{ 'has-error' : vm.errors.bitcoin_account.length > 0 }">
                        <label for="bitcoin_account" class="col-md-4 control-label">Bitcoin account</label>
                        <div class="col-md-6">
                            <div class="input-group">
                                 <span class="input-group-btn">
                                    <button class="btn btn-default" type="button">
                                        <i class="fa fa-btc"></i>
                                    </button>
                                </span>
                                <input id="bitcoin_account" type="text" class="form-control" name="bitcoin_account" ng-model="vm.model.bitcoin_account">
                            </div>
                            <span class="help-block" ng-if="vm.errors.bitcoin_account.length > 0">
                                {{ vm.errors.bitcoin_account[0] }}
                            </span>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="sponsor_id" class="col-md-4 control-label">Sponsor</label>
                        <div class="col-md-6">
                            <input type="text" disabled value="{{ vm.model.sponsor_name }}" class="form-control">
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="direction" class="col-md-4 control-label">Direction</label>
                        <div class="col-md-6">
                            <div class="input-group">
                                <span class="input-group-btn">
                                    <button class="btn btn-default" type="button">
                                        <i class="fa fa-sitemap"></i>
                                    </button>
                                </span>
                                <input type="text" disabled value="{{ vm.model.direction == 'R' ? 'Right' : 'Left' }}" class="form-control">
                            </div>
                        </div>
                    </div>
                    <div class="form-group" ng-class="{ 'has-error' : vm.errors.agree_term_condition.length > 0 }">
                        <label for="agree_term_condition" class="col-md-4 control-label"></label>
                        <div class="col-md-6">
                            <input type="checkbox" id="agree_term_condition" name="agree_term_condition" ng-model="vm.model.agree_term_condition">                                        
                            I agree with Terms and conditions<br>
                        </div>
                        <span class="help-block" ng-if="vm.errors.agree_term_condition.length > 0">
                            {{ vm.errors.agree_term_condition[0] }}
                        </span>
                    </div>                    
                </div>
                <div class="modal-footer">
                    <button class="btn blue" ng-click="vm.submitRegister()" ng-disabled="vm.loading">
                        <i class="fa fa-spinner fa-spin" ng-show="vm.loading"></i>
                        Register
                    </button>
                </div>
            </form>
        </div>
    </div>
</div>
<script type="text/javascript">
    $('.date').datepicker({
        autoclose: true,
        todayHighlight: true,
        format: 'yyyy-mm-dd'
    });
</script>