<div class="row">
    <div class="col-md-12">
        <div class="portlet light">
            <div class="portlet-title tabbable-line">
                <div class="caption caption-md">
                    <i class="icon-globe theme-font hide"></i>
                    <span class="caption-subject font-blue-madison bold uppercase">Profile Account</span>
                </div>
            </div>
            <div class="portlet-body">
                <div class="row">
                    <div class="col-sm-12">
                        <div class="form-group">
                            <div class="col-md-3">
                                <label class="control-label">First Name</label>
                            </div>
                            <div class="col-md-9">
                                <span ng-bind="vm.model.first_name"></span>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-12">
                        <div class="form-group">
                            <div class="col-md-3">
                                <label class="control-label">Last Name</label>
                            </div>
                            <div class="col-md-9">
                                <span ng-bind="vm.model.last_name"></span>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-12">
                        <div class="form-group">
                            <div class="col-md-3">
                                <label class="control-label">Gender</label>
                            </div>
                            <div class="col-md-9">
                                <span ng-bind="vm.model.gender"></span>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-12">
                        <div class="form-group">
                            <div class="col-md-3">
                                <label class="control-label">Country</label>
                            </div>
                            <div class="col-md-9">
                                <span ng-bind="vm.model.country.name"></span>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-12">
                        <div class="form-group">
                            <div class="col-md-3">
                                <label class="control-label">Date of birth</label>
                            </div>
                            <div class="col-md-9">
                                <span ng-bind="vm.model.date_of_birth"></span>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-12">
                        <div class="form-group">
                            <div class="col-md-3">
                                <label class="control-label">Username</label>
                            </div>
                            <div class="col-md-9">
                                <span ng-bind="vm.model.username"></span>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-12">
                        <div class="form-group">
                            <div class="col-md-3">
                                <label class="control-label">Email</label>
                            </div>
                            <div class="col-md-9">
                                <span ng-bind="vm.model.email"></span>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-12">
                        <div class="form-group">
                            <div class="col-md-3">
                                <label class="control-label">Sponsor</label>
                            </div>
                            <div class="col-md-9">
                                <span ng-bind="vm.model.sponsor"></span>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-12">
                        <div class="form-group">
                            <div class="col-md-3">
                                <label class="control-label">Direction</label>
                            </div>
                            <div class="col-md-9">
                                <span ng-bind="vm.model.direction"></span>
                            </div>
                        </div>
                    </div>
                </div>
                <hr/>
                <div class="row">
                    <div class="col-md-12">
                        <div class="margiv-top-10">
                            <a ui-sref="user_profile_edit" class="btn blue">
                                <i class="fa fa-edit"></i>
                                Edit
                            </a>
                            <a ui-sref="change_password" class="btn default">
                                <i class="fa fa-key"></i>
                                Change Password
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>