<form role="form" novalidate class="form-horizontal" name="profileForm" ng-submit="vm.save()">
    <div class="row">
        <div class="col-md-12">
            <div class="portlet light">
                <div class="portlet-title tabbable-line">
                    <div class="caption caption-md">
                        <i class="icon-globe theme-font hide"></i>
                        <span class="caption-subject font-blue-madison bold uppercase">Profile Account</span>
                    </div>
                </div>
                <div class="portlet-body">
                    <div class="row">
                        <div class="col-sm-12">
                            <div class="form-group">
                                <div class="col-md-3">
                                    <label class="control-label">New Password</label>
                                </div>
                                <div class="col-md-4">
                                    <div class="input-group">
                                        <span class="input-group-btn">
                                            <button class="btn btn-default" type="button">
                                                <i class="fa fa-key"></i>
                                            </button>
                                        </span>
                                        <input type="password" class="form-control" name="username" required ng-model="vm.model.password"/>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-12">
                            <div class="form-group">
                                <div class="col-md-3">
                                    <label class="control-label">Retype Password</label>
                                </div>
                                <div class="col-md-4">
                                    <div class="input-group">
                                        <span class="input-group-btn">
                                            <button class="btn btn-default" type="button">
                                                <i class="fa fa-key"></i>
                                            </button>
                                        </span>
                                        <input type="password" class="form-control" name="username" required ng-model="vm.model.retype_password"/>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-12">
                            <div class="form-group">
                                <div class="col-md-3">
                                    <label class="control-label">Second Password</label>
                                </div>
                                <div class="col-md-4">
                                    <div class="input-group">
                                        <span class="input-group-btn">
                                            <button class="btn btn-default" type="button">
                                                <i class="fa fa-key"></i>
                                            </button>
                                        </span>
                                        <input type="password" class="form-control" name="username" required ng-model="vm.model.second_password"/>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-12">
                            <div class="form-group">
                                <div class="col-md-3">
                                    <label class="control-label">Retype Second Password</label>
                                </div>
                                <div class="col-md-4">
                                    <div class="input-group">
                                        <span class="input-group-btn">
                                            <button class="btn btn-default" type="button">
                                                <i class="fa fa-key"></i>
                                            </button>
                                        </span>
                                        <input type="password" class="form-control" name="username" required ng-model="vm.model.retype_second_password"/>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <hr/>
                    <div class="row">
                        <div class="col-md-12">
                            <div class="margiv-top-10">
                                <button class="btn blue" type="submit" ng-disable="vm.loading">
                                    <i class="fa fa-save" ng-if="!vm.loading"></i>
                                    <i class="fa fa-spin fa-spinner" ng-if="vm.loading"></i>
                                    Save Changes
                                </button>
                                <a ui-sref="user_profile" class="btn default">
                                    <i class="fa fa-close"></i>
                                    Cancel
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</form>