<div class="row" loading-if="vm.loading">
    <div class="col-md-12">
        <div class="portlet light">
            <div class="portlet-title tabbable-line">
                <div class="caption caption-md">
                    <i class="icon-globe theme-font hide"></i>
                    <span class="caption-subject font-blue-madison bold uppercase">Make Withdrawal</span>
                </div>
            </div>
            <div class="portlet-body">
                <div class="row">
                    <div class="col-sm-8">
                        <form class="form-horizontal" role="form">
                            <div class="form-body">
                                <div class="form-group" ng-class="{'has-error' : vm.withdraw_amount > vm.balance}">
                                    <label class="col-md-2 control-label">Amount</label>
                                    <div class="col-md-4">
                                        <div class="input-icon right">
                                            <i class="fa fa-check tooltips" style="color: #36c6d3;" ng-hide="vm.withdraw_amount > vm.balance || vm.withdraw_amount === ''"></i>
                                            <div class="input-group">                                
                                                <span class="input-group-addon"><i class="fa fa-dollar"></i></span>
                                                <input type="text" class="form-control" ng-model="vm.withdraw_amount" only-number>
                                            </div>
                                        </div>
                                        <span id="input_group-error" class="help-block help-block-error" ng-show="vm.withdraw_amount > vm.balance">Out of your maximum balance</span>
                                    </div>
                                    <span class="col-md-3 help-block" style="color: black; font-size: 12px;">The available balance is <b>{{ vm.balance | currency }}</b>.</span>
                                </div>
                            </div>
                            <div class="form-actions">
                                <div class="row">
                                    <div class="col-md-offset-2 col-md-10">
                                        <button class="btn blue" ng-click="vm.save();" ng-disabled="vm.loading || vm.withdraw_amount > vm.balance || vm.withdraw_amount === ''">
                                            <i class="fa fa-spinner fa-spin ng-hide" ng-show="vm.loading"></i>
                                            Cash out
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>