body.body-dash{
    background-origin: border-box;
	background: url(/images/backgrounds/dash_back.jpg);
	background-size: cover;
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-clip: border-box;
	background-color: gold;
	background-blend-mode: multiply;
}

.page-content-wrapper{
	.page-content{
		padding-top: 0;

		.box-dash{
			.widget-thumb{
				.widget-thumb-heading{
			    	font-size: 14px;
			    }

				.widget-thumb-wrap{
					text-align: center;
			    	position: relative;

					.widget-thumb-icon{
					    position: absolute;
					    left: 0;
					    top: 0;
					    padding: 0;
					    color: #707375;
			        	font-size: 25px;

				        img{
				        	width: 25px; 
				        	filter: grayscale(100%);
				        	margin-top: -5px;
				        }
					}

					.widget-thumb-body{
						.widget-thumb-body-stat{
							font-size: 25px;
						}
					}
				}
			}
		}
	}
}


.bs-five-area .bs-five.active {
    background: #fde87d;
    background: linear-gradient(to right, #fde87d , #e4b52f);
}