.page-content-wrapper{
	.page-content{
		padding-top: 0;

		.box-dash{
			.widget-thumb{
				.widget-thumb-wrap{
					text-align: center;
			    position: relative;

					.widget-thumb-icon{
				    position: absolute;
				    left: 0;
				    top: 0;
				    padding: 0;
				    color: #707375;
		        font-size: 30px;

		        img{
		        	width: 33px; 
		        	filter: grayscale(100%);
		        }
					}
				}
			}
		}
	}
}


.bs-five-area .bs-five.active {
    background: #fde87d;
    background: linear-gradient(to right, #fde87d , #e4b52f);
}