footer{

	.sec-block{
		//padding-top: 30px;
		padding-bottom: 30px;
		color: #939393;
		text-align: left;

		ul{
			li{
				text-align: left;
			}
		}

		dl{
			margin-bottom: 6px;
			
			dt{
				width: auto;
			}

			dd{
				margin-left: 27px;
			}
		}
	
		&.contact{
			label{
				font-weight: 400;
			}

			textarea{
				margin-bottom: 5px;
			}

			.btn-submit-wrap{
				text-align: center;

				button{
					width: 100px;	
					background-color: #de615e;
					border: none;
					outline: none;			
				}
			}
		}

		@media (max-width: 767px){
			.dl-horizontal dt {
			    float: left;
			    clear: left;
			    white-space: nowrap;
			}
		}
	}
}

footer{
	padding-top: 10px;

	.block-link{
		.title{
		    font-size: 20px;
			margin-bottom: 14px; 
			font-weight: 600;
		}
		.list{
			a{				
				color: #939393;

				&:hover{
					text-decoration: underline;
				}
			}
		}
	}
}