.graph-geneology{
	position: absolute;
	width: 300px;
	z-index: 1;
	padding: 5px;
	border-radius: 5px;

	.block{
		width: 70px;

		.p-note-img{
			width: 100%;
		}

		.caption{
			display: inline-block;
			text-align: center;
			width: 100%;
			font-size: 12px;
		}
	}
}

.search-geneology{
	position: absolute;
    width: 250px;
    right: 0;
    margin: 0;
    padding-right: 20px;
    z-index: 1;

    input{
    	border-radius: 20px;
    }
}