.header-nav{
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 99;
}
.middle-wrapper{
	margin-top: 95px;

	>section{
		padding: 35px 0 30px 0;
		background-color: #fff;	

		&.intro-section{
			padding-top: 30px;
			background: transparent;
		}
	}

	.intro {
		margin: 0;
	}

	.intro-wrap{
		margin-top: 82px;
		text-align: center;

		p{
			color: #fff;
	    font-size: 19px;
	    text-shadow: 1px 2px 2px #000;
		}

		.btn-join{
			background: linear-gradient(to bottom, #fec801 0%, #fe7601 100%);
	    padding: 12px 45px;
	    font-size: 20px;
	    color: #fff;
	    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.15);
	    margin-top: 23px;
	    border: none;

	    &:hover{
	    	background: linear-gradient(to bottom, #fec801 0%, #fe8d01 100%);
	    }
		}

		@media(max-width: 992px){
	    margin-top: 0;
	  }
	}

	.section-2{
		img{
			height: 100px;
		}

		.caption{
			font-size: 20px !important;
			color: #424242;
			margin-top: 20px;
		}
	}
}